<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="clientSettings" type="FileExchangerClient.ConfigurationSections.ClientSettingsSection, FileExchangerClient"/>
    </configSections>
    <clientSettings downloadsPath="d:\downloads" chunkSize="300" />
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFileExchangeService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/FileExchangeService/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileExchangeService"
                contract="FileExchangeService.IFileExchangeService" name="WSHttpBinding_IFileExchangeService">
                <identity>
                    <servicePrincipalName value="host/TsvetkovDmitry" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
